*{
    margin: 0;
    padding: 0;
}
body{
    font-family: sans-serif;
    text-align: center;
    background-color: whitesmoke;
}

header{
    width: 100%;
    height: 50px;
    background: rgb(211, 210, 248);
}

nav{
    float: left;
    line-height: 50px;
       
}

nav a{
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: 2px;
    font-size: 15px;
    font-weight: 700;
    color: rgb(21, 19, 102);
    padding-left: 70px;
}

nav a:hover{  
    color: white;
}

.banner-area{
    background-image: url(repli/banner.jpg);
    width: 100%;
    height: 350px
}

.banner-area h1{
    padding-top: 9%;
    font-size: 300%;
    color: white;
}

button{
    background: none;
    color: #ffffff;
    border: 2px solid;
    padding: 1% ;
    font-size: 1em;
    border-radius: 4px;
    
}

.learn-button{
    padding-top: 3%;

}

.img-head h3{
    color: rgb(38, 21, 114);
    padding-top: 5%;
    font-size: 20px;
    font-weight: 1000;
    
}

h3{
    padding-bottom: 10px;
        border-bottom: 1px solid #09172c;
        line-height: 50px;
        position: absolute;
        left: 43%;      
}

.container{
    padding-top: 12%;
}


img{
    width: 30%;
    margin: 20px;
}

p{
    width: 30%;
    margin: 20px;
    text-align: center;
}

footer{
    padding-top: 12%;
    float: center;
    line-height: 50px;
    background-color: rgb(255, 144, 124);
       
}

footer a{
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: 2px;
    font-size: 15px;
    font-weight: 700;
    color: rgb(21, 19, 102);
    padding-left: 70px;
}

footer a:hover{  
    color: white;
}
